# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
myenv/
venv/
env/
ENV/

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md
*.md

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment files (will be created by workflow)
.env

# Logs
*.log